/.dockerignore export-ignore
/.gitattributes export-ignore
/.github
/.gitignore export-ignore
/Dockerfile export-ignore
/phpcs.xml.dist export-ignore
/phpmd.xml export-ignore
/phpunit.xml.dist export-ignore
/test export-ignore
